* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: #17182f;
}
#particles-js {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -1;
}
#container-section-mundo {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	justify-content: center;
	position: relative;
	z-index: 999;
}
.title {
	font-family: monospace;
	color: rgb(9, 9, 185);
	text-transform: uppercase;
}
.mapa {
	width: 300px;
	height: 300px;
	background-color: rgb(34, 136, 204);
	border-radius: 100%;
	box-shadow: -40px -30px 0 0 rgba(0, 0, 0, .15)inset, -60px -40px 0 0 rgba(100, 29, 29, .1)inset,
		5px 5px 0 0 rgba(255, 255, 255, .2)inset;
	background-image: url("mundo.jpeg");
	background-size: cover;
	-webkit-animation: tierra-girando 8s infinite linear;
}

@-webkit-keyframes tierra-girando {
	from {
		background-position: left center;
	}

	to {
		background-position: -76px center;
	}
}
